.ant-select-selector {
    border: none !important;
}

.ant-select.css-dev-only-do-not-override-1m62vyb.ant-select-single.ant-select-show-arrow:hover .ant-select-selector {
    border: 1px solid #f67e8f !important;
}

.ant-select.css-dev-only-do-not-override-1m62vyb.ant-select-single.ant-select-show-arrow:focus-visible .ant-select-selector {
    border: 1px solid #f67e8f !important;
}

.sale-product:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 10px solid #ed1c24;
}

.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
    border-color: #f67e8f;
}

.ant-pagination-item.ant-pagination-item-2.ant-pagination-item-active {
    border-color: #f67e8f;
}

.ant-pagination-item.ant-pagination-item-3.ant-pagination-item-active {
    border-color: #f67e8f;
}

.ant-pagination-item.ant-pagination-item-4.ant-pagination-item-active {
    border-color: #f67e8f;
}

.ant-pagination-item.ant-pagination-item-5.ant-pagination-item-active {
    border-color: #f67e8f;
}

.ant-pagination-item.ant-pagination-item-6.ant-pagination-item-active {
    border-color: #f67e8f;
}

.css-dev-only-do-not-override-1m62vyb.ant-pagination .ant-pagination-item-active a {
    color: #f67e8f;
}
